<div class="container">
  <h1>Countries</h1>
  <%= render 'countries/list_countries', countries: @countries %>
  <br>
  <% if current_user.admin %>
    <div class="d-flex justify-content-center">
      <%= link_to 'New Country', new_country_path, class:'btn btn-outline-primary'%>
    </div>
  <% end %>
</div>
