<div class="list-group">
  <% locations.each_with_index do |location,i| %>
    <% if i%2 == 0 %>
      <%= link_to location.to_label, country_location_path(@country, location) , class: "list-group-item list-group-item-action list-group-item-light" %>
    <% else %>
      <%= link_to location.to_label, country_location_path(@country, location) , class: "list-group-item list-group-item-action list-group-item-dark" %>
    <% end %>
  <% end %>
</div>
