<div class="container">
  <h1>Target Fish species</h1>
  <%= render 'fish/list_fish', fish: @fish %>
  <br>
  <% if current_user.admin %>
    <div class="d-flex justify-content-center">
      <%= link_to 'New Body Of Water', new_fish_path, class:'btn btn-outline-primary'%>
    </div>
  <% end %>
</div>
